*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #1A1A1A;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  position: relative;
}
.container {
  padding-left: 160px;
  padding-right: 160px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 767px){
    padding-left: 16px;
    padding-right: 16px;
  }
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}